html{
  font-family: sans-serif;
  font-size: 20px;
  overflow-y: scroll;
  background: #333333;
}

button{
  border-radius: 3px;
  cursor: pointer;
  font-family: sans-serif;
}

#main{
  background: #8c8c8c;
  border-radius: 20px;
  margin: auto;
  padding: 15px 20px;
  width: 70vw;
}

#status{
  background: #333333;
  border-radius: 3px;
  color: #e60000;
  font-size: 12px;
  padding: 3px;

}

#showData li{
  font-size: 15px;
  list-style-type: none;
}
