html{
  font-family: sans-serif;
  font-size: 20px;
  overflow-y: scroll;
}

button{
  font-family: sans-serif;
  cursor: pointer;
}

#status{
  font-size: 12px;
  color: red;
}

#showData li{
  font-size: 15px;
  list-style-type: none;
}
