html {
  /*overflow-y: scroll;*/
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: sans-serif;
}

.orange {
  color: #ff6600;
}

.white {
  color: #ffffff;
}

.palantino {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.pointer {
  cursor: pointer;
}

#content {
  background: #ffffff;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#header {
}


#title {
  font-size: 30px;
  margin: 30px;
}

#products-frame {
  /*border: 3px solid #ff6600;*/
  margin: auto;;
  width: 800px;
}

#products-header {
  background: #ff751a;
  height: 30px;;
}

#products-header ul {
  list-style-type: none;
  text-align: center;
}

#products-header li {
  display: inline-block;
  padding: 0 75px;
}

#products-header li a {
  float: left;
}

#products-header li a:hover {
  text-decoration: underline;
}

#products-list li {
  list-style-type: none;
  padding: 1px;
}

.product-title {
  color: #ff6600;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
}

.product-detail {
  color: #999999;
  font-style: italic;
  font-size: 15px;
}
